# .gitignore - project defaults
# Python virtual envs
venv/
.venv/

.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/


# Environment files
.env

# macOS
.DS_Store
