fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic==2.6.4
python-dotenv==1.0.1
SQLAlchemy==2.0.25 
pydantic[email]==2.6.4
python-dotenv==1.0.1
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
requests==2.31.0
pwdlib[argon2]
croniter==6.2.2
PyJWT==2.8.0
celery==5.5.3
redis==6.4.0
